<!--adding the base.html and converting them into according to your requirement-->
{%extends "base.html"%}
 {% block content%}
<div>
    <button type="submit" class=" btn-primary" >Paynow</button>
</div>
<form method="post" action="https://securegw-stage.paytm.in/order/process" name="paytm">
         <table border="1">
            <tbody>
               <input type="hidden" name="MID" value="Rujjjt58970680859206">
               <input type="hidden" name="WEBSITE" value="WEBSTAGING">
               <input type="hidden" name="ORDER_ID" value="10201153937">
               <input type="hidden" name="CUST_ID" value="1">
               <input type="hidden" name="MOBILE_NO" value="9491329685">
               <input type="hidden" name="EMAIL" value="sunithaswain20@gmail.com">
               <input type="hidden" name="INDUSTRY_TYPE_ID" value="Retail">
               <input type="hidden" name="CHANNEL_ID" value="WEB">
               <input type="hidden" name="TXN_AMOUNT" value="30">
               <input type="hidden" name="CALLBACK_URL" value="http://127.0.0.1:8000/callback/">
               <input type="hidden" name="CHECKSUMHASH" value="ZDBlNDEzMDYyZjIxMTBkYjQwMDI1ZGYwOWM0M2Q0NDkyNDZmNmI0MTQ0ZmE4MjA0M2ViMTJmODM3NDRiNWViZGhjeUQMDAwMDAwMDAwMDAw=">
            </tbody>
         </table>
         <script type="text/javascript">
            document.paytm.submit();
         </script>
      </form>
  {%endblock%}